.container__content{
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__cover > img {
    width: 600px;
    min-width: 600px;
    height: 250px;
}

.content__decription > p{
    color: lightgray;
    margin-top: 20px;
}

.content__decription {
    margin-top: 15px;
}